.asht-form-array-editor {
    font-size: 14px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 1.8;
}

.asht-form-array > tbody > tr > td:first-child {
    padding-right: 20px;
}

.asht-form-array-break td {
    position: relative;
    height: 9px;
}

.asht-form-array-break td::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 4px;
    right: 5px;
    border-top: 1px solid #dddddd;
}

