table.asht-table-data {
    --row-height: 21px;
}


table.asht-table-data,
table.asht-table-data > tbody > tr > td,
table.asht-table-data > thead > tr > td,
table.asht-table-data > tr > td {
    border: solid 1px #dddddd;
    padding-left: 0.35em;
    padding-right: 0.35em;
    white-space: pre-wrap;
    word-break: normal;
    box-sizing: border-box;

}


table.asht-table-data > tbody > tr > td,
table.asht-table-data > tr > td {
    height: var(--row-height);
    min-height: var(--row-height);
}


table.asht-table-data > thead > tr > td {
    background-color: rgb(248, 249, 250);
    text-align: center;
    box-sizing: border-box;
}

table.asht-table-data > tbody > tr > td > span {
    white-space: pre;
}

table.asht-table-data > tbody > tr > td:first-child,
table.asht-table-data > tr > td:first-child {
    background-color: rgb(248, 249, 250);
    text-align: right;
}


td.asht-type-number {
    text-align: right;
    padding-left: 0.35em;
}

td.asht-type-boolean {
    text-align: center;
}

td.asht-calc {
    background-color: rgba(255, 255, 0, 0.3);
}

td.asht-duplicated {
    background-color: rgba(255, 0, 0, 0.3);
}


td.asht-type-time {
    min-width: 110px;
}

table.asht-table-data > tbody > tr > td.asht-type-date {
    text-align: left;
    padding-right: 1.35em;
    min-width: calc(6em + 50px);
    box-sizing: border-box;
}

table.asht-table-data > tbody > tr > td.asht-type-date-time {
    text-align: left;
    padding-right: 1.35em;
    min-width: calc(10em + 50px);
    box-sizing: border-box;
}

td.asht-row-idx {
    text-align: right;
}

table.asht-table-data > tbody > tr > td.asht-type-enum {
    text-align: left;
    padding-right: calc(0.35em + 18px);
}

table.asht-table-data > tbody > tr > td.asht-type-time-range-24{
    text-align: left;
    padding-right: 1.35em;
    min-width: calc(14em + 11px);
    box-sizing: border-box;
}
