.asht-table-editor {
    position: relative;
    overflow: hidden;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    --available-width: 10000000px;
    --available-height: 1000000px;
    --sys-scrollbar-width: 17px;
    --sys-scrollbar-height: 17px;
    --head-height: 21px;
    --index-col-width: 35px;
    box-sizing: border-box;
}

.asht-table-editor::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    top: var(--head-height);
    max-width: var(--content-width);
    border-bottom: 1px solid #aaa;
    z-index: 23;
}

.asht-table-editor.asht-overflow-y::before {
    width: calc(100% - 17px);
}

.asht-table-editor::after {
    content: "";
    position: absolute;
    z-index: 23;
    border-right: 1px solid #aaa;
    left: calc(var(--index-col-width));
    height: 100%;
    top: 0;
    max-height: var(--content-height);
}

.asht-table-editor.asht-overflow-x::after {
    height: calc(100% - 17px);

}

.asht-table-editor * {
    /*background-color: transparent !important;*/
}

.asht-table-editor.asht-overflow-x {
    padding-bottom: 17px;
}

.asht-table-editor.asht-overflow-y {
    padding-right: 17px;
}


/********** MAIN *********************/
.asht-table-editor-main-viewport {
    overflow: hidden;
    max-height: var(--content-height);
}

.asht-table-editor-main-scroller {
    overflow-x: scroll;
    overflow-y: scroll;
    margin-right: calc(var(--sys-scrollbar-width) * -1);
}


.asht-table-editor.asht-overflow-x {
    width: var(--available-width);
    padding-right: 17px;
}

.asht-table-editor.asht-overflow-x .asht-table-editor-main-viewport {
    width: 100%;
}

.asht-table-editor.asht-overflow-x .asht-table-editor-main-scroller {
    width: calc(100% + var(--sys-scrollbar-width));
}

.asht-table-editor.asht-overflow-y .asht-table-editor-main-viewport {
    height: 100%;
}

.asht-table-editor.asht-overflow-y .asht-table-editor-main-scroller {
    height: 100%;
}

.asht-table-editor.asht-overflow-y {
    height: var(--available-height);
    padding-bottom: 17px;
}


.asht-table-editor.asht-overflow-y .asht-table-editor-main-viewport {
    height: 100%;
}

.asht-table-editor.asht-overflow-y .asht-table-editor-main-scroller {
    height: calc(100% + var(--sys-scrollbar-height));
}

/*******   FIXED Y ***************************/

.asht-table-editor-fixed-y-viewport {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 20;
    height: var(--head-height);
    width: 100%;
    user-select: none;
}

.asht-table-editor.asht-overflow-y .asht-table-editor-fixed-y-viewport {
    width: calc(100% - 17px);
}

.asht-table-editor-fixed-y-scroller {
    overflow-x: scroll;
    overflow-y: hidden;
}

.asht-table-editor-fixed-y-scroller {
    width: 100%;
}

.asht-table-editor.asht-overflow-y .asht-table-editor-fixed-y-scroller {
    height: calc(100% + var(--sys-scrollbar-height));
}


.asht-table-editor-fixed-y-size-wrapper {
    width: var(--content-width);
}

/********** FIXED X ************************/

.asht-table-editor-fixed-x-viewport {
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;
    z-index: 20;
    height: 100%;
    width: var(--index-col-width);
    user-select: none;
}

.asht-table-editor.asht-overflow-x .asht-table-editor-fixed-x-viewport,
.asht-table-editor.asht-overflow-y .asht-table-editor-fixed-x-viewport {
    height: calc(100% - 17px);
}

.asht-table-editor-fixed-x-scroller {
    overflow: scroll;
    height: calc(100% + var(--sys-scrollbar-height));
    width: 200px;
}

/********** FIXED XY ************************/

.asht-table-editor-fixed-xy-viewport {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 21;
    user-select: none;
}

.asht-table-editor-fixed-xy td {
    width: calc(var(--index-col-width)); /*? border*/
    height: var(--head-height);
    box-sizing: border-box;
}

/*******  SCROLLER ***************/

.asht-table-editor-v-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 17px;
    display: none;
}

.asht-table-editor-h-scrollbar {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 17px;
    display: none;
}


.asht-table-editor.asht-overflow-x .asht-table-editor-v-scrollbar {
    bottom: 17px;
}

.asht-table-editor.asht-overflow-y .asht-table-editor-h-scrollbar {
    right: 17px;
}

.asht-table-editor.asht-overflow-x .asht-table-editor-h-scrollbar,
.asht-table-editor.asht-overflow-y .asht-table-editor-v-scrollbar {
    display: block;
}


.asht-table-editor .ash-fixed-y-header-ctn {
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.ash-fixed-y-header-scroller {
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: -17px;
    padding-bottom: 17px;
}

.ash-fixed-y-header-size-wrapper {
    display: inline-block;
    width: var(--content-width);
}


table.asht-table-editor-fixed-y-scroller-header {
    display: inline-table;
}

.asht-table-editor .as-table-scroller-fixed-xy-header-ctn {
    z-index: 21;
}

.asht-table-editor-content {
    position: relative;
    display: inline-block;
}

.asht-table-editor-foreground {
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none;
}


table.asht-table-data {
    table-layout: fixed;
    border-collapse: collapse;
    box-sizing: border-box;
}


.asht-read-only .asht-new-row {
    display: none;
}

.asht-table-editor-editing-box {
    position: absolute;
    box-sizing: border-box;
    z-index: 8;
    --cell-width: 0;
    --cell-height: 0;
    min-width: var(--cell-width);
    min-height: var(--cell-height);
    border: solid 1px rgb(134, 158, 193);
}

.asht-table-editor-editing-box::before {
    content: "";
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    border: 1px solid rgb(134, 158, 193);
    z-index: 2;
}

.asht-table-editor-editing-box.as-status-focus,
.asht-table-editor-editing-box.as-status-focus::before {
    border-color: rgb(26, 115, 232);
}


.asht-cell-editor-input {
    min-height: calc(var(--cell-height) - 0px);
    min-width: calc(var(--cell-width) - 0px);
    box-sizing: border-box;
    display: block;
    border: none;
    background: white;
    outline: none;
}

pre.as-preinput.asht-cell-editor-input {
    min-width: calc(var(--cell-width) + 1px);
    background: white;
}


input.asht-cell-editor-input[type="number"] {
    width: var(--cell-width);
    text-align: right;
    -moz-appearance: textfield;

}

input.asht-cell-editor-input[type="number"]::-webkit-outer-spin-button,
input.asht-cell-editor-input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.absol-number-input.asht-cell-editor-input {
    height: calc(var(--cell-height) - 0px);
    min-width: calc(var(--cell-width) - 0px);

}

.absol-number-input.asht-cell-editor-input .absol-number-input-text-container {
    right: 4px;
}

.absol-number-input.asht-cell-editor-input .absol-number-input-button-up-container,
.absol-number-input.asht-cell-editor-input .absol-number-input-button-down-container {
    display: none;
}


.asht-boolean-cell-editor-input.asht-state-wait-action > .as-checkbox-input {
    visibility: hidden;
}

.asht-date-cell-editor-input.asht-state-wait-action {
    opacity: 0;
}

.asht-boolean-cell-editor-input {
    text-align: center;
}

.asht-boolean-cell-editor-input .as-checkbox-input {
    display: inline-block;
    vertical-align: middle;
}

.asht-boolean-cell-editor-input::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: var(--cell-height);
}

.asht-enum-set-cell-editor-input {
    min-width: var(--cell-width);
    min-height: var(--cell-height);
    max-width: calc(var(--cell-width) * 2);
    --select-box-item-font-size: 11px;
    --select-box-item-height: 16px;
    --select-box-item-border-radius: 5px;
    --select-box-min-height: 20px;
}

.asht-table-editor-selected-box {
    border: 1px solid rgba(26, 115, 232, 0.7);
    background-color: rgba(26, 115, 232, 0.1);
    position: absolute;
    z-index: 20;
    box-sizing: border-box;
    pointer-events: none;
}

.asht-date-cell-editor-input,
.asht-date-time-cell-editor-input {
    height: var(--cell-height);
    width: var(--cell-width);
    border: none;
}

.asht-date-cell-editor-input.asht-state-editing {
    width: calc(var(--cell-width) + 28px);
}

.asht-date-cell-editor-input input,
.asht-date-time-cell-editor-input input {
    padding-left: 0.35em;
    font: inherit;
}

.asht-date-cell-editor-input .as-date-input-icon-ctn {
    height: 100%;
}

.asht-date-cell-editor-input .as-date-input-icon-ctn span {
    line-height: var(--cell-height);
}


.asht-cell-editor-input.as-select-menu {
    height: var(--cell-height);
    width: var(--cell-width);
}

.absol-selectmenu.as-select-menu.as-select-tree-menu.asht-cell-editor-input {
    min-width: calc(var(--select-list-estimate-width) + 30px);
}


.asht-time-range-24-cell-editor-input .ac-time-input,
.asht-time-range-24-cell-editor-input .ac-time-input .as-time-input-text {
    font: inherit;

}

.asht-time-range-24-cell-editor-input .ac-time-input {
    height: var(--cell-height);
    width: 7em;
}

/*.asht-date-n-level-cell-editor-input > div,*/
/*.asht-date-n-level-cell-editor-input input.as-date-input-text {*/
/*    height: var(--cell-height);*/
/*}*/

.as-date-n-level-input.asht-date-n-level-cell-editor-input {
    padding: 0;
    margin: 0;
    height: var(--cell-height);
    width: calc(6em + 50px + 2em);
}

.asht-date-n-level-cell-editor-input .as-date-n-level-input-select-level {
    height: 100%;
    font-size: 0.8em;
    width: 1em;
}

.asht-date-n-level-cell-editor-input .as-date-input-text {
    padding-left: 1.2em;
}

.asht-date-n-level-cell-editor-input .as-date-input-clear-btn {
    height: calc(var(--cell-height) - 2px);
    top: calc(50% - var(--cell-height) * 0.5 + 1px)
}

.asht-date-n-level-cell-editor-input button span.mdi {
    line-height: 1;
}

.asht-date-n-level-cell-editor-input {
    background-color: white;
    padding: 0;
}